<app-header></app-header>
<body class="login">
  <br>
  <div class="card section col-md-3 offset-md-4">
    <h1 class="title-login">Prova Delinea</h1>
    <img src="../../../assets/img/logo.png" alt="Delínea" class="img-thumbnail logo-login">
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" class="form-control" formControlName="username" placeholder="Usuário" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">#</span>
            </div>
            <input type="password" class="form-control" placeholder="Senha" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary button-primary-login">Entrar</button>
          <a routerLink="/register"><button type="button" class="btn btn-secondary button-secondary-login">Cadastrar-se</button></a>
        </div>
      </form>
    </div>
  </div>
  <app-footer [footerStyleLogin]="footerStyleLogin"></app-footer>
</body>