<app-header></app-header>
<body class="login">
  <br>
  <div class="card section col-md-3 offset-md-4">
    <h1 class="title-login">Prova Delinea</h1>
    <img src="../../../assets/img/logo.png" alt="Delínea" class="img-thumbnail logo-login">
    <div class="card-body">
        <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input type="text" class="form-control" placeholder="Usuário" aria-label="Usuario" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">#</span>
        </div>
        <input type="text" class="form-control" placeholder="Senha" aria-label="Password" aria-describedby="basic-addon1">
      </div>
      <button type="submit" class="btn btn-primary button-primary-login">Entrar</button>
      <a href="register"><button type="button" class="btn btn-secondary button-secondary-login">Cadastrar-se</button></a>
    </div>
  </div>
  <app-footer [footerStyleLogin]="footerStyleLogin"></app-footer>
</body>