<app-header></app-header>
  <div class="card card-list">
    <br>
    <h1 class="title-list">Listagem de Candidatos</h1>
    <hr class="form-line">
    <div class="col-12">
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Nome Completo</th>
              <th scope="col">E-mail</th>
              <th scope="col">Telefone</th>
              <th scope="col">Funcionalidade</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let candidate of candidates">
            <td>{{candidate.full_name}}</td>
            <td>{{candidate.email}}</td>
            <td >{{candidate.phone}}</td>
            <td><i class="fas fa-pencil-alt icon-table" (click)="alter(candidate)"></i><i class="fas fa-trash-alt" (click)="delete(candidate)"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
</div>
<app-footer [footerStyleForm]="footerStyleForm"></app-footer>
